<!-- If there are no user, then must create a new one with 
Super-Admin privileges -->
<% unless User.any? %>
	<div class="hero-unit">
		<h2>No hay ningún usuario registrado en la aplicación</h2>

		<p class="lead">
			Deberás crear un usuario con poderes de Súper-Administrador.
		</p>

		<h3> ¿Por qué? <h3>
		<hr>
		<p>
			Los Súper-Administradores son los únicos capaces de añadir usuarios al sistema.
		</p>

		<div class="alert alert-danger">
			<h4>ATENCIÓN.</h4> Debes marcar la opción "¿Super-Administrador?" cuando crees el usuario.
		</div>
		<hr>
		<%= button_to "Nuevo Usuario", "/signup", :class => "btn btn-large btn-info" %>
	</div>
<!-- Otherwise, just a regular login form -->
<% else %>
	<div class="hero-unit">
		<h1>Inicio de sesión</h1>
		<%= form_for(:session, :url => sessions_path) do |f| %>
			<%= f.label :email do %>
				<strong>Correo electrónico</strong> <abbr title="CAMPO OBLIGATORIO"><i class="icon-exclamation-sign"></i></abbr>
			<% end %>
			<%= f.text_field :email %>

			<%= f.label :password do %>
				<strong>Contraseña</strong> <abbr title="CAMPO OBLIGATORIO"><i class="icon-exclamation-sign"></i></abbr>
			<% end %>
			<%= f.password_field :password %>

			<p>
				<%= f.submit "Iniciar sesión", :class => "btn btn-large btn-primary" %>
			</p>
			
		<% end %>
	</div>
<% end %>
