<div class="row-fluid">
	<%= render 'nodes/sidebar' %>

	<div class="span9">
		<% if @nodes.nil? || @nodes.empty? then %>
			<div class="alert alert-error">
				<big><b>¡No tienes ningún nodo!</b></big><br><br>
				<big><%= link_to new_node_path, :class => "btn btn-small btn-primary" do %>
						<i class="icon-white icon-plus"></i>Agregar un nuevo nodo
					 <% end %>
				</big>
			</div>
		<% else %>
		 	<% @nodes.each do |node| %>
		 		<div class="well">
		 			<h2><big><b><%= node.fqdn %></b></big></h2>
		 			<br>
		 			
		 			<%= link_to node_path(node), :class => "btn btn-small btn-success" do %>
		 				<i class="icon-white icon-eye-open"></i> Ver
		 			<% end %>
		 			<% unless node.flows.nil? || node.flows.empty? then %>
			 			<%= link_to download_conf_node_path(node), :class => "btn btn-small btn-primary" do  %>
			 				<i class="icon-white icon-download"></i> Descargar configuración
			 			<% end %>
			 		<% end %>
		 			<%= link_to node_path(node), :method => 'delete', :class => "btn btn-small btn-danger" do %>
		 				<i class="icon-white icon-remove"></i> Eliminar
		 			<% end %>	 				
		 		</div>
		 	<% end %>
		<% end %>
	</div>
</div>