<div class="row-fluid">
	<%= render 'nodes/sidebar' %>

	<div class="span9">
		<% if current_user.nodes.count != 10 then %>
			<div class="alert">
				<strong><big>¡ATENCIÓN!</big></strong> Recuerda que solo puedes administrar un máximo de <b>10</b> nodos.
				<br>
				<br>
				Actualmente tienes <b><%= current_user.nodes.count %></b> 
			</div>

			<div class="row-fluid">
				<%= form_for @node, :class => "form" do |f| %>
					<div class="span5">
						<%= label_tag "node_ip" do %>
							<strong>Dirección IP</strong> <abbr title="CAMPO OBLIGATORIO"><i class="icon-exclamation-sign"></i></abbr>
						<% end %>
						<%= f.text_field :ip, :placeholder => "Ej: 192.15.6.255"%>
						<br>

						<%= label_tag "node_hostname" do %>
							<strong>Host</strong> <abbr title="CAMPO OBLIGATORIO"><i class="icon-exclamation-sign"></i></abbr>
						<% end %>
						<%= f.text_field :hostname, :placeholder => "Ej: mihost" %>
						<br>

						<%= label_tag "node_domain", "Dominio" %>
						<%= f.text_field :domain, :placeholder => "Ej: midominio.local" %>
						<br>

						<%= f.submit "Aceptar", :class => "btn btn-small btn-primary" %>
					</div>

					<% if @node.errors.any? %>
						<div id="error_explanation", class="span4 alert alert-error alert-block">
		    				<h2>
		    					<b><%= pluralize(@node.errors.count, "error", "errores") %></b> <%= @node.errors.count > 1 ? "prohibieron" : "prohibio" %> la creación de este Nodo:
		    				</h2>
			 
		    				<ul>
			    				<% @node.errors.each do |attr, msg| %>
			      					<li><%= msg %></li>
			    				<% end %>
		    				</ul>
		  				</div>
					<% end %>	
				<% end %>
			</div>
		<% else %>
			<div class="alert alert-error">
				<strong><big>¡Lo sentimos mucho!</big></strong> Has llegado al número límite de nodos administrables.
			</div>
		<% end %>
	</div>
</div>
