<div class="row-fluid">
	<%= render 'nodes/sidebar' %>

	<div class="span5">
		<address>
			<strong><%= "#{@node.fqdn}"%></strong><br>
			<abbr title="Direccion IP">IP:</abbr> <%= @node.ip %><br>
			Creado: <%= @node.created_at.strftime("%B %d, %Y") %><br>
			Última vez modificado: <%= @node.updated_at %><br>
		</address>

		<address>
			<strong>Número de flujos asociados</strong><br>
			<%= link_to node_flows_path(@node) do %>
				<%= @node.flows.count %>
			<% end %>
		</address>

		<address>
			<strong>
				Número de reportes
			</strong><br>
			<%= link_to node_reports_path(@node) do %>
				<%= @node.reports.count %>
			<% end %>
		</address>

		<%= link_to node_path(@node), :method => "delete", :class => "btn btn-danger" do %>
			<i class="icon-white icon-remove-circle"></i> Eliminar
		<% end %>
	</div>

	<div class="span4">
		<div class="alert alert-info">
			<% if current_user.nodes.size < 10 %>
				Hasta el momento tienes <%= pluralize(current_user.nodes.count, 'nodo', 'nodos') %>.
				<br>
				<br>

				<%= link_to new_node_path, :class => "btn btn-small btn-primary" do %>
					<b><big>¿Deseas añadir otro?</big></b>
				<% end %>
			<% else %>
				Has alcanzado tu límite de nodos (10).
			<% end %>
		</div>

		<div class="alert alert-success">
			<%= form_tag({:controller => :nodes, :action => :handle_flows}, :method => :post) do %>
				Gestión de flujos:
				<br>
				<br>

				<%= hidden_field_tag "node_id", @node.id %>
				<%= label_tag 'flows_to_attach', "Flujos a vincular" %>
				<%= 
					options = (current_user.flows.map { |f| f.name } ).reject { |f| @node.flows.include?(f) }
					select_tag "flows_to_attach", options_for_select(options), :multiple => true 
				%>
				<%= label_tag 'flows_to_deattach', 'Flujos a desvincular' %>
				<%= 
					options = @node.flows.empty? ? [] : @node.flows.map { |f| f.name }
					select_tag "flows_to_deattach", options_for_select(options), :multiple => true 
				%>
				<%= submit_tag "Aceptar", :data => { :confirm => "¿Estas seguro?" }, :class => "btn btn-small btn-primary" %>
			<% end %>
		</div>

		<div class="alert">
			
		</div>
	</div>
</div>