<%= content_for :couchbase do %>
	
	<div class="page-header">
		<h2><strong>Paso III: </strong>Configuración avanzada</h2>
	</div>	

	<div>
		<!-- Explanation button -->
		<a href="#explanation5" role="button" class="btn btn-inverse" data-toggle="modal">
			Explicación
		</a>
		<%= render "flows/help_partials/explanation5" %>

		<!-- Fields help button -->
		<a href="#help5" role="button" class="btn btn-info" data-toggle="modal">
			Ayuda
		</a>
		<%= render "flows/help_partials/help5" %>		
	</div>
	<br>
	<br>


	<div class="container">
		<p class="lead">
			Los siguientes campos permiten configurar de manera personalizada el servidor de Couchbase. Esta información es opcional; de no ser suministrada, se tomarán los valores por defecto mostrados en cada campo.
		</p>
		<hr>


		<div id="couchbase-server">
			<h3>Servidor Couchbase</h3>
			<hr>
					
			<%= label_tag "couchbase_attr_size", "Tamanio" %>
			<%= text_field_tag "attr[size]", nil, :id => "couchbase_attr_size", :placeholder => edit ? hash_attributes["size"] : Flow.defaults("couchbase")["size"] %>
			<a href="#this" id="help1" class="btn btn-small btn-info"><i class="icon-comment"></i>¿Ayuda?</a>
			<%= javascript_tag do %>
				$(function () {
					$('#help1').popover({
   						title: 'Descripción del campo',
   						content: 'Tamaño de la base de datos.',
   						placement: 'right'
					});
				});
			<% end %>

			<%= label_tag "couchbase_attr_user", "Usuario" %>
			<%= text_field_tag "attr[user]", nil, :id => "couchbase_attr_user", :placeholder => edit ? hash_attributes["user"] : Flow.defaults("couchbase")["user"] %>
			<a href="#this" id="help2" class="btn btn-small btn-info"><i class="icon-comment"></i>¿Ayuda?</a>
			<%= javascript_tag do %>
				$(function () {
					$('#help2').popover({
						title: 'Descripción del campo',
						content: 'Nombre de usuario de la base de datos.',
						placement: 'right'
	   				});
				});
			<% end %>
			<br>

			<%= label_tag "couchbase_attr_password", "Contrasena" %>
			<%= password_field_tag "attr[password]", nil, :id => "couchbase_attr_password", :placeholder => edit ? hash_attributes["password"] : Flow.defaults("couchbase")["password"] %>
			<a href="#this" id="help3" class="btn btn-small btn-info"><i class="icon-comment"></i>¿Ayuda?</a>
			<%= javascript_tag do %>
				$(function () {
	   				$('#help3').popover({
	    				title: 'Descripción del campo',
	    				content: 'Contraseña del usuario. Por defecto se utiliza "password"',
	    				placement: 'right'
	   				});
				});
			<% end %>
			<br>

			<%= label_tag "couchbase_attr_version", "Version" %>
			<%= select_tag "attr[version]", options_for_select([["2.1.0", "2.1.0"], ["2.0.1", "2.0.1"], ["2.0", "2.0"], ["1.8.2", "1.8.2"], ["1.8.1","1.8.1"], ["1.8.0", "1.8.0"], ["1.7.2", "1.7.2"], ["1.7.1", "1.7.1"]]) %>
			<a href="#this" id="help4" class="btn btn-small btn-info"><i class="icon-comment"></i>¿Ayuda?</a>
			<%= javascript_tag do %>
				$(function () {
	    			$('#help4').popover({
	        			title: 'Descripción del campo',
	        			content: 'Versión del paquete. Por defecto, se instala la más reciente.',
	        			placement: 'right'
	    			});
				});
			<% end %>
			<br>
		</div>
	</div>
<% end %>