<%= content_for :mysql do %>
	<div class="page-header">
		<h2><strong>Paso III: </strong>Configuración avanzada</h2>
	</div>

	<div>
		<!-- Explanation button -->
		<a href="#explanation4" role="button" class="btn btn-inverse" data-toggle="modal">
			Explicación
		</a>
		<%= render "flows/help_partials/explanation4" %>

		<!-- Fields help button -->
		<a href="#help4" role="button" class="btn btn-info" data-toggle="modal">
			Ayuda
		</a>
		<%= render "flows/help_partials/help4" %>
	</div>
	<br>
	<br>

	<div class="container">							
		<p class="lead">
			Los siguientes campos te permiten configurar de manera más personalizada el servidor de MySQL.
			La información aquí requerida es opcional; de no ser suministrada, se tomarán los valores por defecto que aparecen en cada campo.

			Para continuar, indica si deseas instalar el <b>cliente</b> de MySQL:	
		</p>

		<label>
			<input type="checkbox" id="checkbox_mysql_client" name="checkbox_mysql_client" value='<%= edit ? (hash_attributes["client"] ? "yes" : "no") : "no" %>' onchange='changeIfChecked(this)'>
			Cliente MySQL
		</label>

		<div id="mysql-server">
			<h3>Servidor MySQL</h3>
			<hr>

			<%= label_tag "mysql_attr_port", "Puerto" %>
			<%= text_field_tag "attr[port]", nil, :id => "mysql_attr_port", :placeholder => edit ? hash_attributes["port"] : Flow.defaults("mysql")["port"] %>
			<a href="#this" id="help1" class="btn btn-small btn-info"><i class="icon-comment"></i>¿Ayuda?</a>
			<%= javascript_tag do %>
				$(function () {
					$('#help1').popover({
						title: 'Descripción del campo',
						content: 'Puerto donde el servidor escuchará peticiones.',
						placement: 'right'
		   			});
				});
			<% end %>
			<br>

			<%= label_tag "mysql_attr_root_group", "Grupo de usuario root" %>
			<%= text_field_tag "attr[root_group]", nil, :id => "mysql_attr_root_group", :placeholder => edit ? hash_attributes["root_group"] : Flow.defaults("mysql")["root_group"] %>
			<a href="#this" id="help2" class="btn btn-small btn-info"><i class="icon-comment"></i>¿Ayuda?</a>
			<%= javascript_tag do %>
				$(function () {
	    			$('#help2').popover({
	        			title: 'Descripción del campo',
	        			content: 'Grupo para los archivos pertenecientes al usuario root.',
	        			placement: 'right'
	    			});
				});
			<% end %>
			<br>

			<%= label_tag "mysql_attr_root_password", "Contraseña root" %>
			<%= password_field_tag "attr[root_password]", nil, :id => "mysql_attr_root_password", :placeholder => edit ? hash_attributes["root_password"] : Flow.defaults("mysql")["root_password"] %>
			<a href="#this" id="help3" class="btn btn-small btn-info"><i class="icon-comment"></i>¿Ayuda?</a>
			<%= javascript_tag do %>
				$(function () {
					$('#help3').popover({
			  			title: 'Descripción del campo',
			   			content: 'Contraseña para el usuario root.',
			   			placement: 'right'
					});
				});
			<% end %>
			<br>

			<%= label_tag "mysql_attr_package_ensure", "Version" %>
			<%= select_tag "attr[package_ensure]", options_for_select([["5.6", "5.6"], ["5.5", "5.5"], ["5.1", "5.1"], ["5.0", "5.0"]]),  :placeholder => "Escoja version"%>
			<a href="#this" id="help4" class="btn btn-small btn-info"><i class="icon-comment"></i>¿Ayuda?</a>
			<%= javascript_tag do %>
				$(function () {
	    			$('#help4').popover({
	        			title: 'Descripción del campo',
	        			content: 'Versión del paquete. Por defecto, se instala la más reciente.',
	        			placement: 'right'
	    			});
				});
			<% end %>
			<br>

			<%= label_tag "mysql_bind_address", "Direccion de asociacion" %>
			<%= text_field_tag "attr[bind_address]", nil, :id => "mysql_bind_address", :placeholder => edit ? hash_attributes["bind_address"] : Flow.defaults("mysql")["bind_address"] %>
			<a href="#this" id="help5" class="btn btn-small btn-info"><i class="icon-comment"></i>¿Ayuda?</a>
			<%= javascript_tag do %>
				$(function () {
		   			$('#help5').popover({
		       			title: 'Descripción del campo',
		       			content: 'Dirección IP asociada al servidor.',
		       			placement: 'right'
		   			});
				});
			<% end %>
			<br>

			<%= label_tag "mysql_max_allowed_packet" do %>
				Tamaño máximo del paquete
			<% end %>
			<%= text_field_tag "attr[max_allowed_packet]", nil, :id => "mysql_max_allowed_packet", :placeholder => edit ? hash_attributes["max_allowed_packet"] : Flow.defaults("mysql")["max_allowed_packet"] %>
			<a href="#this" id="help6" class="btn btn-small btn-info"><i class="icon-comment"></i>¿Ayuda?</a>
			<%= javascript_tag do %>
				$(function () {
	    			$('#help6').popover({
	        			title: 'Descripción del campo',
	        			content: '>Tamaño máximo de paquetes que acepta el servicio mysqld.',
	        			placement: 'right'
	    			});
				});
			<% end %>
			<br>

			<%= label_tag "mysql_basedir", "Directorio base" %>
			<%= text_field_tag "attr[basedir]", nil, :id => "mysql_basedir", :placeholder => edit ? hash_attributes["basedir"] : Flow.defaults("mysql")["basedir"] %>
			<a href="#this" id="help7" class="btn btn-small btn-info"><i class="icon-comment"></i>¿Ayuda?</a>
			<%= javascript_tag do %>
				$(function () {
	    			$('#help7').popover({
	        			title: 'Descripción del campo',
	        			content: 'Directorio donde se almacenarán todos los archivos de las bases de datos.',
	        			placement: 'right'
	    			});
				});
			<% end %>
			<br>

			<%= label_tag "mysql_datadir", "Directorio de datos" %>
			<%= text_field_tag "attr[datadir]", nil, :id => "mysql_datadir", :placeholder => edit ? hash_attributes["datadir"] : Flow.defaults("mysql")["datadir"] %>
			<a href="#this" id="help8" class="btn btn-small btn-info"><i class="icon-comment"></i>¿Ayuda?</a>
			<%= javascript_tag do %>
				$(function () {
	 				$('#help8').popover({
	    				title: 'Descripción del campo',
	    				content: 'Directorio de datos (datafiles, entre otras cosas).',
	    				placement: 'right'
	    			});
				});
			<% end %>
			<br>

			<%= label_tag "mysql_tmpdir", "Directorio de archivos temporales" %>
			<%= text_field_tag "attr[tmpdir]", nil, :id => "mysql_tmpdir", :placeholder => edit ? hash_attributes["tmpdir"] : Flow.defaults("mysql")["tmpdir"] %>
			<a href="#this" id="help9" class="btn btn-small btn-info"><i class="icon-comment"></i>¿Ayuda?</a>
			<%= javascript_tag do %>
				$(function () {
	    			$('#help9').popover({
	        			title: 'Descripción del campo',
	        			content: 'Carpeta de archivos temporales.',
	        			placement: 'right'
	    			});
				});
			<% end %>
			<br>
		</div>
	</div>
<% end %> 