<%= content_for :mysql_db do %>
	
	<p>
		Proporciona, a continuación, la información necesaria para crear la <em>base de datos:</em>
	</p>

	<!-- Mandatory -->
	<%= label_tag "attr_db_title", "Nombre" %>
	<%= text_field_tag "attr[db][title]", nil, :id => "attr_db_title", :placeholder => edit ? hash_attributes["db"]["title"] : "" %>
	<br>

	<%= label_tag "attr_db_charset", "Charset" %>
	<%= text_field_tag "attr[db][charset]", nil, :id => "attr_db_charset", :placeholder => edit ? hash_attributes["db"]["charset"] : Flow.defaults("mysql")["db"]["charset"] %>
	<br>

	<%= label_tag "attr_db_host", "Host" %>
	<%= text_field_tag "attr[db][host]", nil, :id => "attr_db_host", :placeholder => edit ? hash_attributes["db"]["host"] : Flow.defaults("mysql")["db"]["host"] %>
	<br>

	<!-- Mandatory -->
	<%= label_tag "attr_db_user", "Usuario" %>
	<%= text_field_tag "attr[db][user]", nil, :id => "attr_db_user", :placeholder => edit ? hash_attributes["db"]["user"] : "" %>
	<br>

	<!-- Mandatory -->
	<%= label_tag "attr_db_password", "Contrasena" %>
	<%= password_field_tag "attr[db][password]", nil, :id => "attr_db_password", :placeholder => edit ? hash_attributes["db"]["password"] : "" %>
	<br>

	<%= label_tag "attr_db_grant", "Privilegios" %>
	<%= select_tag "attr[db][grant]", options_for_select([["TODOS", "all"], ["Insercion", "Insert_priv"], ["Seleccion", "Select_priv"], ["Eliminacion", "Delete_priv"], ["Actualizacion", "Update_priv"]]), :multiple => true %>
	<br>
	<hr>


	<%= label_tag "checkbox_db_backup", "¿Desea crear un respaldo?" %>
	<%= check_box_tag "backup", (edit && hash_attributes.has_key?(:db_backup) ? "yes" : "no"), @flow.hash_attributes.has_key?(:db_backup), :id => "checkbox_db_backup", :onchange => 'if (document.getElementById("checkbox_db_backup").checked) { $("#checkbox_db_backup").val("yes"); } else { $("#check_box_db:backup").val("no"); }; $("#backup_options").toggle()' %>
	
	<div id="backup_options">
		<p>
			Provee la información necesaria para instalar un script de respaldo, así como un cronograma de trabajo y un usuario de respaldo:
			<br>
		</p>

		<!-- Mandatory -->
		<%= label_tag "attr_db_backup_user", "Usuario de respaldo" %>
		<%= text_field_tag "attr[db_backup][backupuser]", nil, :id => "attr_db_backup_user", :placeholder => edit && hash_attributes.has_key?("db_backup") ? hash_attributes["db_backup"]["backupuser"] : "" %>
		<br>

		<!-- Mandatory -->
		<%= label_tag "attr_db_backup_password", "Contrasena" %>
		<%= password_field_tag "attr[db_backup][backuppassword]", nil, :id => "attr_db_backup_password", :placeholder => edit && hash_attributes.has_key?("db_backup") ? hash_attributes["db_backup"]["backuppassword"] : "" %>
		<br>

		<!-- Mandatory -->
		<%= label_tag "attr_db_backup_dir", "Directorio de respaldo" %>
		<%= text_field_tag "attr[db_backup][backupdir]", nil, :id => "attr_db_backup_dir", :placeholder => edit && hash_attributes.has_key?("db_backup") ? hash_attributes["db_backup"]["backupdir"] : "" %>
	</div>
	<%= javascript_tag "$(function () {if ($('#backup').val() == 'no') { $('#backup_options').hide()}}" %>
<% end %>