<%= content_for :tomcat do %>
	<div class="page-header">
		<h2><strong>Paso III: </strong>Configuración avanzada</h2>
	</div>

	<div>
		<!-- Explanation button -->
		<a href="#explanation5" role="button" class="btn btn-inverse" data-toggle="modal">
			Explicación
		</a>
		<%= render "flows/help_partials/explanation5" %>

		<!-- Fields help button -->
		<a href="#help5" role="button" class="btn btn-info" data-toggle="modal">
			Ayuda
		</a>
		<%= render "flows/help_partials/help5" %>	
	</div>
	<br>
	<br>

	<div class="container">
		<p class="lead">
			Se instalará la versión más reciente de Tomcat proveída por el sistema de paquetes por defecto de su computador.<br>

			Si desea instalar Tomcat desde un <em>mirror</em> específico, escriba su dirección a continuación:
		</p>

		<%= label_tag "tomcat_attr_mirror", "Mirror" %>
		<%= 
			mirrors = ["http://www.gtlib.gatech.edu/pub/apache/", "http://www.fightrice.com/mirrors/apache/", "http://apache.mirrors.tds.net/", "http://apache.cs.utah.edu/", "http://download.nextag.com/apache/", "http://mirror.nexcess.net/apache/", "http://apache.mirrors.hoobly.com/", "http://www.eng.lsu.edu/mirrors/apache/", "http://mirrors.sonic.net/apache/", "http://www.bizdirusa.com/mirrors/apache/", "http://www.motorlogy.com/apache/", "http://mirrors.ibiblio.org/apache/", "http://mirror.tcpdiag.net/apache/", "http://apache.tradebit.com/pub/", "http://www.carfab.com/apachesoftware/", "http://mirrors.gigenet.com/apache/", "http://mirror.metrocast.net/apache/", "http://www.trieuvan.com/apache/", "http://mirror.reverse.net/pub/apache/", "http://apache.mesi.com.ar/", "http://apache.spinellicreations.com/", "http://www.dsgnwrld.com/am/", "http://psg.mtu.edu/pub/apache/", "http://mirror.cc.columbia.edu/pub/software/apache/", "http://mirror.olnevhost.net/pub/apache/", "http://www.linuxtourist.com/apache/", "http://apache.petsads.us/", "http://mirror.sdunix.com/apache/", "http://mirror.symnds.com/software/Apache/", "http://apache.mirrors.lucidnetworks.net/", "http://apache.claz.org/", "http://apache.mirrors.pair.com/", "http://apache.osuosl.org/", "http://www.poolsaboveground.com/apache/", "http://mirror.cogentco.com/pub/apache/", "ftp://apache.mirrors.tds.net/pub/apache.org/", "ftp://apache.cs.utah.edu/apache.org/", "ftp://linux-files.com/apache/", "ftp://mirror.reverse.net/pub/apache/", "ftp://ftp.osuosl.org/pub/apache/", "ftp://apache.mirrors.pair.com/", "http://www.eu.apache.org/dist/", "http://www.us.apache.org/dist/"]
			select_tag "attr[mirror]", options_for_select(mirrors), :include_blank => true 
		%>
		<br>

		<%= label_tag "tomcat_attr_version", "Version" %>
		<%= select_tag "attr[version]", options_for_select([["7.0.42", "7.0.42"], ["6.0.37", "6.0.37"]]), :include_blank => true %>
	</div>
<% end %>