<div class="row">
	<%= render 'flows/sidebar' %>
	
	<div class="span9">
		<h1>Edición del flujo <b><%= @flow.name %></b></h1>
		<br>
		<%= form_tag({:controller => :flows, :action => :update}, :method => :put) do %>
			<div class="well">
				
				<% unless @flow.nodes.nil? || @flow.nodes.empty? then %>
					<p class="lead">
						Actualmente, este flujo se encuentra vinculado a <%= link_to 'estos nodos', '#this', :onclick => "$('#nodes-list').show()" %>
						<dl id="nodes-list">
							<% @flow.nodes.each do |n| %>
								<dt><%= n.hostname %></dt>
								<dd>FQDN: <%= n.fqdn %> </dd>
							<% end %>
						</dl>
						<%= javascript_tag "$('#nodes-list').hide()" %>
					</p>
				<% else %>
					<p>
						No hay nodos vinculados a este flujo.
					</p>
				<% end %>

				<hr>
				
				<p>
					<big>
						¿Deseas vincular este flujo a otros nodos?
						Escoge a cuales aquí:
					</big>
				</p>

				<%= hidden_field_tag "flow_id", @flow.id %>
				<%= 
					options_array = (current_user.nodes.map { |n| n.fqdn }).reject { |n| (@flow.nodes.map { |n2| n2.fqdn }).include?(n) }

					select_tag "nodes_to_vinculate", options_for_select(options_array), :multiple => true 
				%>
				<br>
			</div>

			<hr>



			<div>
				<% case @flow.kind %>
					<% when "install" %>
						<% case @flow.hash_attributes["tool"] %>
							<% when "mysql" %>
								<%= render :partial => "flows/mysql_form", :locals => { :edit => true, :hash_attributes => @flow.hash_attributes } %>
								<%= content_for :mysql %>

							<% when "couchbase" %>
								<%= render :partial => "flows/couchbase_form", :locals => { :edit => true, :hash_attributes => @flow.hash_attributes } %>
								<%= content_for :couchbase %>
							<% when "tomcat" %>
								<%= render :partial => "flows/tomcat_form", :locals => { :edit => true, :hash_attributes => @flow.hash_attributes } %>
								<%= content_for :tomcat %>
								
						<% end %>
					<% when "maintenance" %>
						<p class="lead">
							Si el <em>checkbox</em> está marcado, significa que existen valores previos de configuración. Si no, entonces se mostrará un formulario con los valores por defecto a utilizar en caso de no especificarlos. <b>Si no desea tomar en cuenta alguna de las herramientas, retire la selección del <em>checkbox</em>.</b>
						</p>
						<div class="span3">
							<div class="page-header">
								<h2>MySQL</h2>
							</div>

							<%= label_tag "mysql_active", "¿Configurar MySQL?" %>
							<%= check_box_tag "mysql_active", (@flow.hash_attributes.has_key?("db") ? "yes" : "no"), @flow.hash_attributes.has_key?("db"), :onchange => 'toggleValue("mysql_active", "yes", "no")' %>

							<br>
							<br>

							<% if @flow.hash_attributes.has_key?("db") then %>
								<%= render :partial => "/flows/mysql_db_form", :locals => { :edit => true, :hash_attributes => @flow.hash_attributes } %>
								<%= content_for :mysql_db %>
							<% else %>
								<p>No existen configuraciones para esta herramienta.</p>
								<br>
								<br>
								<%= render :partial => "flows/mysql_db_form", :locals => { :edit => false } %>
								<%= content_for :mysql_db %>
							<% end %>
						</div>

						<div class="span3">
							<div class="page-header">
								<h2>Couchbase</h2>
							</div>

							<%= label_tag "couchbase_active", "¿Configurar Couchbase?" %>
							<%= check_box_tag "couchbase_active", (@flow.hash_attributes.has_key?("bucket") ? "yes" : "no"), @flow.hash_attributes.has_key?("bucket"), :onchange => 'toggleValue("couchbase_active", "yes", "no")'  %>
							<br>
							<br>

							<% if @flow.hash_attributes.has_key?("bucket") then %>
								<%= render :partial => "/flows/couchbase_bucket_form", :locals => { :edit => true, :hash_attributes => @flow.hash_attributes } %>
								<%= content_for :couchbase_bucket %>
							<% else %>
								<p>No existen configuraciones para esta herramienta.</p>
								<br>
								<br>
								<%= render :partial => "/flows/couchbase_bucket_form", :locals => { :edit => false } %>
								<%= content_for :couchbase_bucket %>
							<% end %>
						</div>

						<div class="span2">
							<div class="page-header">
								<h2>Tomcat</h2>
							</div>

							<%= label_tag "tomcat_active", "¿Configurar Tomcat?" %>
							<%= check_box_tag "tomcat_active", (@flow.hash_attributes.has_key?("instance") ? "yes" : "no"), @flow.hash_attributes.has_key?("instance"), :onchange => 'toggleValue("tomcat_active", "yes", "no")'  %>
							<br>
							<br>
							<% if @flow.hash_attributes.has_key?("instance") then %>
								<%= render :partial => "/flows/tomcat_instance_form", :locals => { :edit => true, :hash_attributes => @flow.hash_attributes } %>
								<%= content_for :tomcat_instance %>
							<% else %>
								<p>No existen configuraciones para esta herramienta.</p>
								<br>
								<br>
								<%= render :partial => "/flows/tomcat_instance_form", :locals => { :edit => false } %>
								<%= content_for :tomcat_instance %>
							<% end %>
						</div>
				<% end %>	
			</div>
			<br>
			<br>
			<%= submit_tag "Guardar cambios", :data => { :confirm => "¿Estas seguro?"}, :class => "btn btn-primary" %>
			<%= link_to "Descartar", flow_path(@flow), :class => "btn btn-danger" %>
		<% end %>
	</div>
</div>
