<div class="row">
	<%= render 'flows/sidebar' %>
	
	<div class="span9">
		<h1>Edición del flujo <b><%= @flow.name %></b></h1>
		<br>
		<%= form_tag({:controller => :flows, :action => :update}, :method => :put) do %>
			<div class="well">
				
				<% unless @flow.nodes.nil? || @flow.nodes.empty? then %>
					<p class="lead">
						Actualmente, este flujo se encuentra vinculado a <%= link_to 'estos nodos', '#this', :onclick => "$('#nodes-list').show()" %>
						<dl id="nodes-list">
							<% @flow.nodes.each do |n| %>
								<dt><%= n.hostname %></dt>
								<dd>FQDN: <%= n.fqdn %> </dd>
							<% end %>
						</dl>
						<%= javascript_tag "$('#nodes-list').hide()" %>
					</p>
				<% else %>
					<p>
						No hay nodos vinculados a este flujo.
					</p>
				<% end %>

				<hr>
				
				<p>
					<big>
						¿Deseas vincular este flujo a otros nodos?
						Escoge a cuales aquí:
					</big>
				</p>

				<%= hidden_field_tag "flow_id", @flow.id %>
				<%= 
					options_array = (current_user.nodes.map { |n| n.fqdn }).reject { |n| (@flow.nodes.map { |n2| n2.fqdn }).include?(n) }

					select_tag "nodes_to_vinculate", options_for_select(options_array), :multiple => true 
				%>
				<br>
			</div>

			<hr>



			<div class="container">
				<% case @flow.kind %>
					<% when "install" %>
						<% case @flow.hash_attributes["tool"] %>
							<% when "mysql" %>
								<%= render :partial => "flows/mysql_form", :locals => { :edit => true, :hash_attributes => @flow.hash_attributes } %>
								<%= content_for :mysql %>

							<% when "couchbase" %>
								<%= render :partial => "flows/couchbase_form", :locals => { :edit => true, :hash_attributes => @flow.hash_attributes } %>
								<%= content_for :couchbase %>
							<% when "tomcat" %>
								<%= render :partial => "flows/tomcat_form", :locals => { :edit => true, :hash_attributes => @flow.hash_attributes } %>
								<%= content_for :tomcat %>
								
						<% end %>
					<% when "maintenance" %>
						<p class="lead">
							Si el <em>checkbox</em> está marcado, significa que existen valores previos de configuración. Si no, entonces se mostrará un formulario con los valores por defecto a utilizar en caso de no especificarlos. <b>Si no desea tomar en cuenta alguna de las herramientas, retire la selección del <em>checkbox</em>.</b>
						</p>
						<div class="span3">
							<div class="page-header">
								<h2>MySQL</h2>
							</div>

							<p id="db-text" class="text-<%= @flow.hash_attributes.has_key?('db') ? 'success' : 'error' %>">
								<%= @flow.hash_attributes.has_key?('db') ? "Configurar" : "No configurar (eliminar configuracion)" %>
							</p>
							<%= button_to_function "Cambiar", 'switchConfigTool("#db-text", "#mysql_active")', :class => "btn btn-link" %>

							<%= hidden_field_tag "mysql_active", (@flow.hash_attributes.has_key?("db") ? "yes" : "no") %>

							<br>

							<br>

							<% if @flow.hash_attributes.has_key?("db") then %>
								<%= render :partial => "/flows/mysql_db_form", :locals => { :edit => true, :hash_attributes => @flow.hash_attributes } %>
								<%= content_for :mysql_db %>
							<% else %>
								<p>No existen configuraciones para esta herramienta.</p>
								<br>
								<br>
								<%= render :partial => "flows/mysql_db_form", :locals => { :edit => false } %>
								<%= content_for :mysql_db %>
							<% end %>
						</div>

						<div class="span3">
							<div class="page-header">
								<h2>Couchbase</h2>
							</div>

							<p id="bucket-text" class="text-<%= @flow.hash_attributes.has_key?('bucket') ? 'success' : 'error' %>">
								<%= @flow.hash_attributes.has_key?('bucket') ? "Configurar" : "No configurar (eliminar configuracion)" %>
							</p>
							<%= button_to_function "Cambiar", 'switchConfigTool("#bucket-text", "#couchbase_active")', :class => "btn btn-link" %>
							<%= hidden_field_tag "couchbase_active", (@flow.hash_attributes.has_key?("bucket") ? "yes" : "no") %>
							<br>
							<br>

							<% if @flow.hash_attributes.has_key?("bucket") then %>
								<%= render :partial => "/flows/couchbase_bucket_form", :locals => { :edit => true, :hash_attributes => @flow.hash_attributes } %>
								<%= content_for :couchbase_bucket %>
							<% else %>
								<p>No existen configuraciones para esta herramienta.</p>
								<br>
								<br>
								<%= render :partial => "/flows/couchbase_bucket_form", :locals => { :edit => false } %>
								<%= content_for :couchbase_bucket %>
							<% end %>
						</div>

						<div class="span2">
							<div class="page-header">
								<h2>Tomcat</h2>
							</div>

							<p id="instance-text" class="text-<%= @flow.hash_attributes.has_key?('instance') ? 'success' : 'error' %>">
								<%= @flow.hash_attributes.has_key?('instance') ? "Configurar" : "No configurar (eliminar configuracion)" %>
							</p>
							<%= button_to_function "Cambiar", 'switchConfigTool("#instance-text", "#tomcat_active")', :class => "btn btn-link" %>
							<%= hidden_field_tag "tomcat_active", (@flow.hash_attributes.has_key?("instance") ? "yes" : "no") %>

							<br>
							<br>
							<% if @flow.hash_attributes.has_key?("instance") then %>
								<%= render :partial => "/flows/tomcat_instance_form", :locals => { :edit => true, :hash_attributes => @flow.hash_attributes } %>
								<%= content_for :tomcat_instance %>
							<% else %>
								<p>No existen configuraciones para esta herramienta.</p>
								<br>
								<br>
								<%= render :partial => "/flows/tomcat_instance_form", :locals => { :edit => false } %>
								<%= content_for :tomcat_instance %>
							<% end %>
						</div>
				<% end %>	
			</div>
			<br>
			<br>

			<% if !flow.nil? && flow.errors.any? %>
		  		<div id="error_explanation" class="alert alert-error alert-block">
					<h2><b><%= pluralize(flow.errors.count, "error", "errores") %></b> <%= flow.errors.count > 1 ? "prohibieron" : "prohibio" %> la creación de este Flujo:</h2>
			 
			    	<ul>
						<% flow.errors.each do |attr, msg| %>
							<li><%= msg %></li>
					    <% end %>
				    </ul>
		  		</div>
			<% end %>

			<%= submit_tag "Guardar cambios", :data => { :confirm => "¿Estas seguro?"}, :class => "btn btn-primary" %>
			<%= link_to "Descartar", flow_path(@flow), :class => "btn btn-danger" %>
		<% end %>
	</div>
</div>

<%= javascript_tag do %>
	function switchConfigTool(text_id, field_id) {
		var text = $(text_id);
		var field = $(field_id);

		if (field.val() == "yes") {
			field.val("no")
		} else {
			field.val("yes")
		};

		if (text.hasClass("text-error")) {
			text.removeClass("text-error");
			text.addClass("text-success");
			text.text("Configurar");
		} else {
			text.removeClass("text-success");
			text.addClass("text-error");
			text.text("No configurar (eliminar configuracion)");
		}
	}
<% end %>