<div class="row">
	<%= render 'flows/sidebar' %>

	<div class="span9">
		<% if @flows.empty? then %>
			<div class="hero-unit">
				<img src="/assets/sad.png" class="img-rounded">
  				<h1>¡Aún no tienes ningún flujo!</h1>
  				<p>¡No hay problema! Crea un nuevo flujo de configuración...</p>
  				<p>
    				<%= link_to new_flow_path, :class => "btn btn-primary btn-large" do %>
    					¡Aquí!  <i class="icon-thumbs-up icon-white"></i>
    				<% end %>
  				</p>
			</div>
		<% else %>
			<% @flows.each do |f| %>
				<div class="well">
					<h2><%= f.name %></h2>
					Nodos: <br>
					<dl>
						<% f.nodes.each do |n| %>
							<dt>
								<%= n.hostname %>
							</dt>
							<dd>
								FQDN: <%= n.fqdn %>
							</dd>
						<% end %>
					</dl> <br>

					Creado: <small><%= f.created_at %></small> <br>
					Última vez actualizado: <small><%= f.updated_at %></small>

					<hr>
					Acciones:
					<%= link_to flow_path(f), :class => "btn btn-small btn-success" do %>
						<i class="icon-white icon-eye-open"></i> Ver
					<% end %>

					<%= link_to edit_flow_path(f), :class => "btn btn-small btn-primary" do %>
						<i class="icon-white icon-pencil"></i> Editar
					<% end %>

					<%= link_to flow_path(f), :class => "btn btn-small btn-danger", :method => :delete do %>
						<i class="icon-white icon-remove"></i> Eliminar
					<% end %>
				</div>
			<% end %>
		<% end %>
	</div>
</div>