<div class="row">
	<%= render 'flows/sidebar' %>

	<div class="span9">

		<!-- Page description. How to use! -->
		<div class="page-header">
			<h1>¿Cómo crear un nuevo flujo?</h1>
		</div>
		<p class="lead">
			Proporciona la información solicitada en cada una de las <b>etapas</b> del proceso:
			<ul>
				<li>
					Tipo de flujo a construir.
				</li>
				<li>
					Valores para cada uno de los parámetros obligatorios.
				</li>
				<li>
					Valores para los parámetros pertenecientes a la <b>configuración avanzada.</b>
				</li>
			</ul>
		</p>

		<!-- Type of flow -->

		<%= form_tag flows_url, :method => :post, :id => "flow_form", :class => "form" do %>
			<div class="accordion" id="accordion1">
				<div class="accordion-group">
					<div class="accordion-heading">
						<a href="#collapse1" class="accordion-toggle btn" data-toggle="collapse" data-parent="#accordion1">
							<h2><strong>Paso I: </strong> ¿Qué tipo de flujo deseas realizar?</h2>
						</a>
					</div>
					<div id="collapse1" class="accordion-body collapse">
						<div class="accordion-inner"> 
							<div class="row-fluid">
								<ul class="thumbnails">
									<li class="span4">
										<div class="thumbnail">
											<img src="/assets/system-install-1.png">
											<div class="caption">
												<h3>Instalación</h3>
												<p></p>
											</div>
											<label class="radio" onclick='$("#select_maintenance").hide(); $("#select_tool").show();'>
												<%= radio_button "radio_button", "type", "install", :onclick => '$("#select_maintenance").show(); $("#select_tool").hide();' %>
												¡Crear un flujo de <strong><i>instalación</i></strong>!
											</label>
											<%= select_tag "select_tool", options_for_select([["MySQL", "mysql"], ["CouchBase", "couchbase"], ["Tomcat", "tomcat"]]) %>
											<%= javascript_tag '$("#select_tool").hide()' %>
										</div>
									</li>

									<li class="span4">
										<div class="thumbnail">
											<img src="/assets/system-maintenance.png">
											<div class="caption">
												<h3>Mantenimiento</h3>
												<p></p>
											</div>
											<label class="radio" onclick='$("#select_maintenance").show(); $("#select_tool").hide();'>
												<%= radio_button "radio_button", "type", "maintenance", :onclick => '$("#select_maintenance").show(); $("#select_tool").hide();' %>
												¡Crear un flujo de <strong><i>mantenimiento</i></strong>!
											</label>
											<%= select_tag "select_maintenance", options_for_select([]) %>
											<%= javascript_tag '$("#select_maintenance").hide()' %>
										</div>
									</li>

									<!-- Empty -->
									<li class="span4">
										<div class="thumbnail">
											<img src="">
											<div "caption">
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="accordion-group">
					<div class="accordion-heading">
						<a href="#collapse2" class="accordion-toggle btn" data-toggle="collapse" data-parent="#accordion1">
							<h2><strong>Paso II: </strong>Información básica</h2> 
						</a>
					</div>
					<div id="collapse2" class="accordion-body collapse">
						<div class="accordion-inner">							
							<div class="control-group">
								<%= label_tag "flow_name", "Nombre del flujo" %>
								<%= text_field_tag "flow[name]", nil, :id => "flow_name", :placeholder => "Ejemplo: mysql-installer" %>
										<a href="#this" id="help-1" class="btn btn-small btn-info"><i class="icon-comment"></i>¿Ayuda?</a>
								<%= javascript_tag do %>
									$(function () {
			    						$('#help-1').popover({
			        						title: 'Descripción del campo',
			        						content: 'Nombre del archivo correspondiente a este nodo.',
			        						placement: 'right'
			    						});
									});
								<% end %>
								<br>

								<%= label_tag "flow_node_name", "Nombre del nodo" %>
								<%= text_field_tag "flow[node_name]", nil, :id => "flow_node_name", :placeholder => "Ejemplo: web-server-one" %>
										<a href="#this" id="help0" class="btn btn-small btn-info"><i class="icon-comment"></i>¿Ayuda?</a>
								<%= javascript_tag do %>
									$(function () {
			    						$('#help0').popover({
			        						title: 'Descripción del campo',
			        						content: 'Nombre del nodo a ser configurado por este flujo.',
			        						placement: 'right'
			    						});
									});
								<% end %>
								<br>
							</div>
						</div>
					</div>
				</div>

				<div class="accordion-group">
					<div class="accordion-heading">
						<a href="#collapse3" class="accordion-toggle btn btn-danger" data-toggle="collapse" data-parent="#accordion1">
							<h2><strong>Paso III: </strong>Configuración avanzada</h2>
						</a>
					</div>
					<div id="collapse3" class="accordion-body collapse">
						<div class="accordion-inner">							
							<p clas="lead">
								Los siguientes campos te permiten configurar de manera más personalizada el servidor de MySQL.
								La información aquí requerida es opcional; de no ser suministrada, se tomarán los valores por defecto que aparecen en cada 
								campo.

								Para continuar, indica si deseas instalar el <b>cliente</b> de MySQL:	
							</p>

							<label>
								<input type="checkbox" id="checkbox_mysql_client" name="checkbox_mysql_client" value="no" onchange='changeIfChecked(this)'>
								Cliente MySQL
							</label>

							<div id="mysql-server">
								<h3>Servidor MySQL</h3>
								<hr>

								<%= label_tag "mysql_attr_port", "Puerto" %>
								<%= text_field_tag "attr[port]", nil, :id => "mysql_attr_port", :placeholder => Flow.defaults("mysql")["port"] %>
								<a href="#this" id="help1" class="btn btn-small btn-info"><i class="icon-comment"></i>¿Ayuda?</a>
								<%= javascript_tag do %>
									$(function () {
			    						$('#help1').popover({
			        						title: 'Descripción del campo',
			        						content: 'Puerto donde el servidor escuchará peticiones.',
			        						placement: 'right'
			    						});
									});
								<% end %>
								<br>

								<%= label_tag "mysql_attr_root_group", "Grupo de usuario root" %>
								<%= text_field_tag "attr[root_group]", nil, :id => "mysql_attr_root_group", :placeholder => Flow.defaults("mysql")["debian_family"]["root_group"] %>
								<a href="#this" id="help2" class="btn btn-small btn-info"><i class="icon-comment"></i>¿Ayuda?</a>
								<%= javascript_tag do %>
									$(function () {
			    						$('#help2').popover({
			        						title: 'Descripción del campo',
			        						content: 'Grupo para los archivos pertenecientes al usuario root.',
			        						placement: 'right'
			    						});
									});
								<% end %>
								<br>

								<%= label_tag "mysql_attr_root_password", "Contraseña root" %>
								<%= password_field_tag "attr[root_password]", nil, :id => "mysql_attr_root_password", :placeholder => Flow.defaults("mysql")["root_password"] %>
								<a href="#this" id="help3" class="btn btn-small btn-info"><i class="icon-comment"></i>¿Ayuda?</a>
								<%= javascript_tag do %>
									$(function () {
			    						$('#help3').popover({
			        						title: 'Descripción del campo',
			        						content: 'Contraseña para el usuario root.',
			        						placement: 'right'
			    						});
									});
								<% end %>
								<br>

								<%= label_tag "mysql_attr_package_ensure", "Version" %>
								<%= select_tag "attr[package_ensure]", options_for_select([["5.6", "5.6"], ["5.5", "5.5"], ["5.1", "5.1"], ["5.0", "5.0"]]),  :placeholder => "Escoja version"%>
								<a href="#this" id="help4" class="btn btn-small btn-info"><i class="icon-comment"></i>¿Ayuda?</a>
								<%= javascript_tag do %>
									$(function () {
			    						$('#help4').popover({
			        						title: 'Descripción del campo',
			        						content: 'Versión del paquete. Por defecto, se instala la más reciente.',
			        						placement: 'right'
			    						});
									});
								<% end %>
								<br>

								<%= label_tag "mysql_bind_address", "Direccion de asociacion" %>
								<%= text_field_tag "attr[bind_address]", nil, :id => "mysql_bind_address", :placeholder => Flow.defaults("mysql")["bind_address"] %>
								<a href="#this" id="help5" class="btn btn-small btn-info"><i class="icon-comment"></i>¿Ayuda?</a>
								<%= javascript_tag do %>
									$(function () {
			    						$('#help5').popover({
			        						title: 'Descripción del campo',
			        						content: 'Dirección IP asociada al servidor.',
			        						placement: 'right'
			    						});
									});
								<% end %>
								<br>

								<%= label_tag "mysql_max_allowed_packet", "Tamanio maximo de paquete" %>
								<%= text_field_tag "attr[max_allowed_packet]", nil, :id => "mysql_max_allowed_packet", :placeholder => Flow.defaults("mysql")["max_allowed_packet"] %>
								<a href="#this" id="help6" class="btn btn-small btn-info"><i class="icon-comment"></i>¿Ayuda?</a>
								<%= javascript_tag do %>
									$(function () {
			    						$('#help6').popover({
			        						title: 'Descripción del campo',
			        						content: '>Tamaño máximo de paquetes que acepta el servicio mysqld.',
			        						placement: 'right'
			    						});
									});
								<% end %>
								<br>

								<%= label_tag "mysql_basedir", "Directorio base" %>
								<%= text_field_tag "attr[basedir]", nil, :id => "mysql_basedir", :placeholder => Flow.defaults("mysql")["debian_family"]["basedir"] %>
								<a href="#this" id="help7" class="btn btn-small btn-info"><i class="icon-comment"></i>¿Ayuda?</a>
								<%= javascript_tag do %>
									$(function () {
			    						$('#help7').popover({
			        						title: 'Descripción del campo',
			        						content: 'Directorio donde se almacenarán todos los archivos de las bases de datos.',
			        						placement: 'right'
			    						});
									});
								<% end %>
								<br>

								<%= label_tag "mysql_datadir", "Directorio de datos" %>
								<%= text_field_tag "attr[datadir]", nil, :id => "mysql_datadir", :placeholder => Flow.defaults("mysql")["debian_family"]["datadir"] %>
								<a href="#this" id="help8" class="btn btn-small btn-info"><i class="icon-comment"></i>¿Ayuda?</a>
								<%= javascript_tag do %>
									$(function () {
			    						$('#help8').popover({
			        						title: 'Descripción del campo',
			        						content: 'Directorio de datos (datafiles, entre otras cosas).',
			        						placement: 'right'
			    						});
									});
								<% end %>
								<br>

								<%= label_tag "mysql_tmpdir", "Directorio de archivos temporales" %>
								<%= text_field_tag "attr[tmpdir]", nil, :id => "mysql_tmpdir", :placeholder => Flow.defaults("mysql")["debian_family"]["tmpdir"] %>
								<a href="#this" id="help9" class="btn btn-small btn-info"><i class="icon-comment"></i>¿Ayuda?</a>
								<%= javascript_tag do %>
									$(function () {
			    						$('#help9').popover({
			        						title: 'Descripción del campo',
			        						content: 'Carpeta de archivos temporales.',
			        						placement: 'right'
			    						});
									});
								<% end %>
								<br>
							</div>
						</div>
					</div>
				</div>
			</div>
			<%= submit_tag "Aceptar", :data => { :confirm => "¿Estas seguro? "}, :class => "btn btn-large btn-success" %>
		<% end %>
	</div>
</div>
