<div class="row">
	<%= render 'flows/sidebar' %>

	<div class="span9">
		<h1>Síntesis del flujo <b><big><%= @flow.name %></b></big>:</h1>
		<% if @flow.kind == "install" then %>
			<table class="table table-striped table-hover">
				<caption><h2>Datos de instalación: </h2></caption>
				<thead>
					<tr>
						<th>Atributo</th>
						<th>Valor</th>
					</tr>
				</thead>
				<tbody>
					<% @flow.hash_attributes.each do |k, v| %>
						<tr>
							<td> <%= field_translation("install")[@flow.hash_attributes["tool"]][k].capitalize %> </td>
							<td> <%= v %> </td>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% elsif @flow.kind == "maintenance" then %>
			
			<% if @flow.hash_attributes.has_key?(:db) then %>
				<table class="table table-stripped table-hover">
					<caption><h2>Datos de configuración de la base de datos (MySQL):</h2></caption>
					<thead>
						<tr>
							<th>
								Atributo	
							</th>
							<th>
								Valor
							</th>
						</tr>
					</thead>
					<tbody>
						<% @flow.hash_attributes[:db].each do |k, v| %>
							<tr>
								<td>
									<%= field_translation("maintenance")["db"][k].capitalize %>
								</td>
								<td><%= v %></td>
							</tr>
						<% end %>

						<% if @flow.hash_attributes.has_key?(:db_backup) then %>
							<% @flow.hash_attributes[:db_backup].each do |k,v| %>
								<tr>
									<td>
										<%= field_translation("maintenance")["db_backup"][k].capitalize %>
									</td>
									<td><%= v %></td>
								</tr>
							<% end %>
						<% end %>
					</tbody>
				</table>
			<% end %>
			<hr>
			<br>
			<% if @flow.hash_attributes.has_key?(:bucket) then %>
				<table class="table table-stripped table-hover">
					<caption><h2>Datos de configuración del bucket (Couchbase):</h2></caption>
					<thead>
						<tr>
							<th>
								Atributo	
							</th>
							<th>
								Valor
							</th>
						</tr>
					</thead>
					<tbody>
						<% @flow.hash_attributes[:bucket].each do |k, v| %>
							<tr>
								<td>
									<%= field_translation("maintenance")["bucket"][k].capitalize %>
								</td>
								<td><%= v %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			<% end %>
			<hr>
			<br>
			<% if @flow.hash_attributes.has_key?(:instance) then %>
				<table class="table table-stripped table-hover">
					<caption><h2>Datos de configuración de la instancia (Tomcat):</h2></caption>
					<thead>
						<tr>
							<th>
								Atributo	
							</th>
							<th>
								Valor
							</th>
						</tr>
					</thead>
					<tbody>
						<% @flow.hash_attributes[:instance].each do |k, v| %>
							<tr>
								<td>
									<%= field_translation("maintenance")["instance"][k].capitalize %>
								</td>
								<td><%= v %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			<% end %>
		<% elsif @flow.kind == "miscellaneous" then %>
			<!-- Create/Delete file -->
			<% if @flow.hash_attributes.has_key?(:cdf) then %>
				<div class="well">
					<strong><big>Archivo: </big></strong><%= @flow.hash_attributes[:cdf]["name"] %><br>
					<strong>Acción: </strong><%= @flow.hash_attributes[:cdf]["ensure"] == "present" ? "Crear" : "Eliminar" %><br>

					<% if @flow.hash_attributes[:cdf]["ensure"] == "present" then %>
						<strong>Contenido: </strong><br>
						<pre>
							<%= @flow.hash_attributes[:cdf]["content"] %>
						</pre>
					<% end %>
				</div>
				<hr>
			<% end %>

			<!-- Change content of file -->
			<% if @flow.hash_attributes.has_key?(:ccof) then %>
				<div class="well">
					<strong><big>Archivo: </big></strong><%= @flow.hash_attributes[:ccof]["name"] %><br>
					<strong>Contenido: </strong><br>
					<pre>
						<%= @flow.hash_attributes[:ccof]["content"] %>
					</pre>
				</div>
				<hr>
			<% end %>

			<!-- Add/Remove line from file -->
			<% if @flow.hash_attributes.has_key?(:arlff) then %>
				<div class="well">
					<strong><big>Archivo: </big></strong><%= @flow.hash_attributes[:arlff]["path"] %><br>
					<strong>Línea: </strong> <pre><%= @flow.hash_attributes[:arlff]["line"] %></pre><br>
					<strong>Acción: </strong><%= @flow.hash_attributes[:cdf]["ensure"] == "present" ? "Crear" : "Eliminar" %>
				</div>
				<hr>
			<% end %>

			<!-- Copy file -->
			<% if @flow.hash_attributes.has_key?(:cf) then %>
				<div class="well">
					<strong><big>Archivo origen: </big></strong><%= @flow.hash_attributes[:cf]["source"] %><br>
					<strong>Archivo destino: </strong><%= @flow.hash_attributes[:cf]["name"] %>
				</div>
				<hr>
			<% end %>			
		<% end %>
			
		<br>

		<div class="well">
			
			<% unless @flow.nodes.nil? || @flow.nodes.empty? then %>
				<p class="lead">
					Actualmente, este flujo se encuentra vinculado a <%= link_to 'estos nodos', '#this', :onclick => "$('#nodes-list').show()" %>
					<dl id="nodes-list">
						<% @flow.nodes.each do |n| %>
							<dt><%= n.hostname %></dt>
							<dd>FQDN: <%= n.fqdn %> </dd>
						<% end %>
					</dl>
					<%= javascript_tag "$('#nodes-list').hide()" %>
				</p>
			<% else %>
				<p>
					No hay nodos vinculados a este flujo.
				</p>
			<% end %>

			<hr>
			<%= form_tag({:controller => :flows, :action => :handle_nodes}, :method => :post) do %>
				<p>
					<big>
						Gestión de nodos
					</big>
				</p>

				<%= hidden_field_tag "flow_id", @flow.id %>
				<%= label_tag 'nodes_to_attach', "Nodos a vincular" %>
				<%= 
					options_array = (current_user.nodes.map { |n| n.fqdn }).reject { |n| (@flow.nodes.map { |n2| n2.fqdn }).include?(n) }

					select_tag "nodes_to_attach", options_for_select(options_array), :multiple => true 
				%>
				<%= label_tag 'nodes_to_deattach', "Nodos a desvincular" %>
				<%=
					options_array =  @flow.nodes.empty? ? [] : @flow.nodes.map { |n| n.fqdn }
					select_tag 'nodes_to_deattach', options_for_select(options_array), :multiple => true 
				%>
				
				<br>
				<%= submit_tag "Aceptar", :data => { :confirm => "¿Estas seguro?"}, :class => "btn btn-primary" %>

			<% end %>
		</div>

		<div class="span3">

			<p class="lead">
				Más acciones:
			</p>

			<%= link_to edit_flow_path(@flow), :class => "btn btn-primary" do %>
				<i class="icon-white icon-pencil"></i> Editar
			<% end %>
			<%= link_to flow_path(@flow), :method => "delete", :class => "btn btn-danger" do %>
				<i class="icon-white icon-remove-circle"></i> Descartar
			<% end %>
		</div>
	</div>
</div>
