<h1>Crear nuevo usuario</h1>
<p>
	<div class="row-fluid">
		<%= form_for @user do |f| %>
			
			<div class="span5">
				<%= f.label :name, "Nombre" %>
				<%= f.text_field :name %>

				<%= f.label :last_name, "Apellido" %>
				<%= f.text_field :last_name %>

				<%= f.label :email, "Correo electrónico" %>
				<%= f.text_field :email %>

				<%= f.label :password, "Contraseña" %>
				<%= f.password_field :password %>

				<%= f.label :password_confirmation, "Repita su contraseña" %>
				<%= f.password_field :password_confirmation %>

				<%= label_tag "user[super_admin]", "¿Super-Administrador?" %>
				<%= check_box_tag "user[super_admin]", "0", false, :onchange => 'if ($("#user_super_admin").is(":checked")) { $("#user_super_admin").val("1"); } else {$("#user_super_admin").val("0"); }' %>

				<p> 
					<%= f.submit "Crear Usuario", :class => "btn btn-large btn-primary" %>
				</p>	
			</div>

			<% if @user.errors.any? %>
		  		<div id="error_explanation", class="span4 alert alert-error alert-block">
			    	<h2><b><%= pluralize(@user.errors.count, "error", "errores") %></b> <%= @user.errors.count > 1 ? "prohibieron" : "prohibio" %> la creación de este Usuario:</h2>
			 
			    	<ul>
				    	<% @user.errors.each do |attr, msg| %>
				      		<li><%= msg %></li>
				    	<% end %>
			    	</ul>
		  		</div>
			<% end %>
			
		<% end %>
	</div>
	
</p>
