<div class="row">
	<!-- Sidebar -->
	<div class="span3 bs-docs-sidebar">
		<ul class="nav nav-list bs-docs-sidenav affix" data-offset-top="200">
			<li class>
				<%= link_to "¿Qué necesitas?", '#requirements' %>
			</li>
			<li class="divider"></li>
			<li class>
				<%= link_to "¿Cómo funciona?", '#how-it-works' %>
			</li>
			<li class="divider"></li>
			<li class>
				<%= link_to "Más información", '#further-info' %>
			</li>
		</ul>
	</div>

	<!-- Body -->
	<div class="span9">
		<section id="requirements">
			<div class="page-header">
				<h1>1. ¿Qué necesitas?<small> Y cómo obtenerlo</small></h1>
			</div>
			<p class="lead">
				Para poder hacer uso de las bondades ofrecidas por el sistema <strong>BM+CM</strong>, necesitas
				instalar la versión más reciente de Puppet en cada uno de los nodos que componen el 
				<i>envirorment</i> de tu aplicación.
			</p>
			<div class="row-fluid">
				<div class="span6">
					<h2>Descarga el instalador</h2>
					<p class="text-center">La manera más rápida de instalar Puppet en todos tus nodos
					   es personalizando un archivo que lo haga por ti.
					</p>

					<p class="text-center">
						<%= link_to '¡Personaliza instalador aquí!', '/custom_installer', :class => "btn btn-large btn-primary" %>
					</p>
				</div>
				<div class="span6">
					<h2>Instalación manual</h2>
					<p class="text-center">
						Sigue los pasos que se describen aquí:
						<br>
						<a href="#instructions" role="button" class="btn btn-primary btn-large" data-toggle="modal">
							Ver instrucciones
						</a>
					</p>
					<%= render 'pages/manual_install' %>
				</div>
			</div>
		</section>

		<section id="how-it-works">
			<div class="page-header">
				<h1>2. ¿Cómo funciona?<small> Un vistazo al comportamiento de Puppet</small></h1>
			</div>
			<p class="lead">
				<strong>BM+CM</strong> se apoya en Puppet, un software orientado a facilitar las tareas asociadas
				con el proceso de gestión de la configuración. Esto incluye despliegue, mantenimiento, respaldo y actualización de servidores de aplicación, bases de datos, herramientas, entre otras cosas.
			</p>

			<!-- Carousel logic -->
			<div id="carousel" class="carousel slide">
				<ol class="carousel-indicators">
					<li data-target="#carousel" data-slide-to="0" class="active"></li>
					<li data-target="#carousel" data-slide-to="1"></li>
					<li data-target="#carousel" data-slide-to="3"></li>
				</ol>

				<!-- Carousel items -->
				<div class="carousel-inner">
					<div class="active item">
						<img src="/assets/PL_howpuppetworks_notitle.png" alt>
						<div class="carousel-caption">
							<h4><strong>Define, simula, fuerza y reporta.</strong></h4>
							<p>
								Los agentes utilizan un DDL propio para declarar estados deseados del sistema. Simula el estado final antes de forzar su consecución para, finalmente, reportar los resultados al Maestro.
							</p>
						</div>
					</div>
					<div class="item">
						<img src="/assets/PL_multiode_notitle1.png" alt>
						<div class="carousel-caption">
							<h4><strong>Combina & reutiliza</strong></h4>
							<p>
								Se pueden crear paquetes específicos para configurar sistemas especiales o, también, utilizar aquellos definidos por terceros.
							</p>
						</div>
					</div>
					<div class="item">
						<img src="/assets/PL_dataflow_notitle.png" alt>
						<div class="carousel-caption">
							<h4><strong>Flujo</strong></h4>
							<p>
								1. Nodo envía información sobre sí mismo al Maestro. <br>
								2. Maestro envía catálogo con la configuración específica del nodo. <br>
								3. Nodo envía reporte de cambios al Maestro. <br>
								4. Maestro puede enviar resporte a terceros. <br>
							</p>
						</div>
					</div>
				</div>

				<!-- Carousel controls -->
				<a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
				<a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
			</div>
		</section>

		<section id="further-info">
			<div class="page-header">
				<h1>3. Más información <small>Enlaces de interés</small></h1>
			</div>

			<div class="hero-unit">
				<h3>¡Quiero saber más!</h3>
				<p>
					A continuación, algunos sitios de interés.
				</p>
				<div class="btn-group">
					<a class="btn dropdown-toggle btn-primary btn-large" data-toggle="dropdown" href="#">
						Enlaces
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="http://www.puppetlabs.com">
								Puppet <i class="icon-wrench"></i>
							</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="http://www.synergy-gb.com">
								Synergy Global Business <i class="icon-thumbs-up"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</section>
	</div>
</div>
