<hr> <!-- Horizontal row divider -->
<footer class="footer">
	<div class="container">
		<p class="text-center">
			<small>
				Sitio diseñado y construído con Bootswatch.
			</small>
		</p>
		<p class="text-center">
			<small>
				Íconos cortesía de <%= link_to "Glyphicons Free", "http://www.glyphicons.com" %>.
			</small>
		</p>
		<p class="text-center">
			© Synergy-GB, 2013.
		</p>
		<ul class="inline">
			<li>
				<small>
					<%= link_to 'Synergy Global Business', 'http://www.synergy-gb.com' %>
				</small>
			</li>
			<li class="muted">·</li>
			<li>
				<small>
					<%= link_to 'Universidad Simón Bolívar', 'http://www.usb.ve' %>
				</small>
			</li>
			<li class="muted">·</li>
			<li>
				<small>
					<%= link_to 'Twitter Bootstrap', 'http://twitter.github.io/bootstrap' %>
				</small>
			</li>
			<li class="muted">·</li>
			<li>
				<small>
					<%= link_to 'Bootswatch', 'http://www.bootswatch.com' %>
				</small>
			</li>
		</ul>
	</div>
</footer>