<!-- Top-fixed navigation bar -->
<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<!-- Logo/Brand name -->
			<%= link_to "BM+CM", root_path, :class => "brand" %>
			<div class="nav-collapse collapse" id="main-menu">

				<!-- Sections -->
				<ul class="nav pull-left" id="main-menu-left">
					<li>
						<%= link_to "Home", root_path %>
					</li>
					<li class="divider-vertical"></li>
					<li>
						<%= link_to "Antes de empezar...", get_started_path %>
					</li>
					<li class="divider-vertical"></li>
					<li>
						<%= link_to "Flujos", flows_path %>
					</li>
					<li class="divider-vertical"></li>
					<li>
						<%= link_to "Bitácoras", '#' %>
					</li>
					<li class="divider-vertical"></li>
					<li>
						<%= link_to "Estados previos", '#' %>
					</li>
				</ul>

				<!-- User's options -->
				<ul class="nav pull-right" id="main-menu-right">
					<li>
						<div class="btn-group">
							<a class="btn btn-success" href="#">
								<i class="icon-user icon-white"></i>
								Usuario
							</a>
							<a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="#"><i class="icon-pencil"></i>Editar</a>
								</li>
								<li class="divider"></li>
								<li><a href="#"><i class="icon-remove-sign"></i>Cerrar sesión</a></li>
							</ul>
						</div>
					</li>
				</ul>

			</div>
		</div>
	</div>
</header>