<!-- Top-fixed navigation bar -->
<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<!-- Logo/Brand name -->
			<%= link_to "BM+CM", root_path, :class => "brand" %>
			<div class="nav-collapse collapse" id="main-menu">

				<!-- Sections -->
				<ul class="nav pull-left" id="main-menu-left">
					<li>
						<%= link_to "Home", root_path %>
					</li>
					<li class="divider-vertical"></li>
					<li>
						<%= link_to "Antes de empezar...", get_started_path %>
					</li>

					<% if signed_in? %>
						<li class="divider-vertical"></li>
						<li>
							<%= link_to "Flujos", flows_path %>
						</li>
						<li class="divider-vertical"></li>
						<li>
							<%= link_to "Bitácoras", '#' %>
						</li>
						<li class="divider-vertical"></li>
						<li>
							<%= link_to "Estados previos", '#' %>
						</li>
					<% end %>
				</ul>

				<!-- User's options -->
				<ul class="nav pull-right" id="main-menu-right">
					<li>
						<% 
							# Si la sesión está iniciada
							if signed_in? 
						%>
							<div class="btn-group">
								<a class="btn btn-success" href="#">
									<i class="icon-user icon-white"></i>
									<%= "#{current_user.name} #{current_user.last_name}" %>
								</a>
								<a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="#"><i class="icon-pencil"></i>Editar</a>
									</li>
									<li class="divider"></li>
									<li><%= link_to "Cerrar Sesión", signout_path, :method => :delete %></li>
								</ul>
							</div>
						<% #Si no hay sesión iniciada
							else 
						%>
							<a href="/signin" class="btn btn-success btn-small"><i class="icon-user icon-white"></i>INICIAR SESIÓN</a>

						<% end %>
					</li>
				</ul>

			</div>
		</div>
	</div>
</header>