<!-- Top-fixed navigation bar -->
<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<!-- Logo/Brand name -->
			<%= link_to "BM+CM", root_path, :class => "brand" %>
			<div class="nav-collapse collapse" id="main-menu">

				<!-- Sections -->
				<ul class="nav pull-left" id="main-menu-left">
					<li>
						<%= link_to "Home", root_path %>
					</li>
					<li class="divider-vertical"></li>
					<li>
						<%= link_to "Antes de empezar...", get_started_path %>
					</li>

					<% if signed_in? %>
						<% unless current_user.super_admin? %>
							<li class="divider-vertical"></li>
							<li>
								<%= link_to "Flujos", flows_home_path %>
							</li>
							<li class="divider-vertical"></li>
							<li>
								<%= link_to "Nodos", nodes_home_path %>
							</li>
							<li class="divider-vertical"></li>
							<li>
								<%= link_to "Estados previos", '#' %>
							</li>
						<% else %>
							<li class="divider-vertical"></li>
							<li>
								<%= link_to 'Usuarios', users_home_path %>
							</li>
						<% end %>
					<% end %>
				</ul>

				<!-- User's options -->
				<ul class="nav pull-right" id="main-menu-right">
					<li>
						<% 
							# Si la sesión está iniciada
							if signed_in? 
						%>
							<div class="btn-group">
								<%= link_to user_path(current_user), :class => "btn btn-success" do %>
									<% if current_user.super_admin? then %>
										<i class="icon-star-empty icon-white"></i>
									<% else %>
										<i class="icon-user icon-white"></i>
									<% end %>
									<%= "#{current_user.name} #{current_user.last_name}" %>
								<% end %>
								<a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="<%= edit_user_path(current_user) %>"><i class="icon-pencil"></i>Editar</a>
									</li>
									<li>
										<% if current_user.super_admin? then %>
											<%= link_to user_path(current_user), :method => 'delete', :data => { :confirm => "¿Estas seguro?"} do %>
												<i class="icon-remove"></i> Eliminar
											<% end %>
										<% else %>
											<% unless current_user.marked_as_deletable? then %>
												<%= link_to handle_deletion_mark_path(current_user), :method => :put, :data => { :confirm => "¿Estas seguro? Se enviara tu solicitud de eliminacion a uno de nuestros administradores. Mientras tanto, puedes seguir usando la aplicacion, o retirar tu solicitud.\n\nPara hacer efectivos los cambios, deberas iniciar sesion nuevamente" } do %>
													<i class="icon-thumbs-down"></i> Marcar como "Eliminable"
												<% end %>
											<% else %>
												<%= link_to handle_deletion_mark_path(current_user), :method => :put, :data => { :confirm => "Para hacer efectivos los cambios, deberas iniciar sesion nuevamente\n\n¿Deseas continuar?"} do %>
													<i class="icon-thumbs-up"></i>Desmarcar como "Eliminable" 
												<% end %>
											<% end %>
										<% end %>
									</li>
									<li class="divider"></li>
									<li><%= link_to "Cerrar Sesión", signout_path, :method => :delete %></li>
								</ul>
							</div>
						<% #Si no hay sesión iniciada
							else 
						%>
							<div class="btn-group">
								<a href="/signin" class="btn btn-primary btn-small">
									<i class="icon-user icon-white"></i>Iniciar Sesión
								</a>
							</div>
						<% end %>
					</li>
				</ul>

			</div>
		</div>
	</div>
</header>